RBE549-NithinSanket/HW0-Alohamora/BSDS500
RBE549-NithinSanket/HW0-Alohamora/Phase2/CIFAR10
RBE549-NithinSanket/HW0-Alohamora/Draft

Week1/part4.py
Week1/part3.py
Week2/results*


*.zip
*.rar
*.gz
*.tar.gz
*.7z
*.bz2
*.tar.bz2
*.xz
*.tar.xz
*__pycache__/
RBE549-NithinSanket/P1-Panorama/Phase2/Data/
RBE549-NithinSanket/P1-Panorama/Phase1/Data/
*Draft/